#contract {
  font-family: times;
  font-size: 1rem;
  width: 50vw;
  margin: auto;
  text-align: justify;


}

.redacted {
  background-color: black;
  user-select: none;
}

.revealed {
  color: white;
  text-decoration: underline;
}

#frame {
  /* Dimensions of the frame */
  width: 43vw;
  height: 45vw;
  /* The frame walls */
  border: 3px solid;
  /* CSS grid for alignment of elements in the frame */
  display: grid;
  justify-content: center;
  align-content: center;
  background:blue;
}
