body {
  font-family: termina, sans-serif;
  color: #1a171d;
  font-size: 0.8vw;
  line-height: 1.4;
  font-weight: 700;
  letter-spacing: 0.1vw;
}

h1 {
  margin-top: 0px;
  margin-bottom: 0px;
  font-family: 'Helvetica Now Display', sans-serif;
  font-size: 300%;
  line-height: 1.3;
  font-weight: 900;
  letter-spacing: -0.02em;
}


p {
  margin-bottom: 0px;
}

a {
  color: #1a171d;
  text-decoration: none;
}

.bar {
  position: fixed;
  left: 0%;
  top: 0%;
  right: auto;
  bottom: 0%;
  z-index: 1000;
  display: flex;
  width: 10vw;
  height: 100vh;
  max-height: 100vh;
  flex-direction: column;
  justify-content: space-between;
  align-items: stretch;
  border-right: 0.15vw solid #1a171d;
  background-color: #fff;
}

.now_playing {
  display: flex;
  height: 5vw;
  min-height: 5vw;
  min-width: 100%;
  justify-content: center;
  align-items: center;
  border-top: 0.15vw solid #1a171d;
  background-color: #FFFF00;
  color: #fff;
  text-align: center;
}

.bar_info {
  position: relative;
  width: 100%;
  height: 70%;
  flex-direction: column-reverse;
  justify-content: space-between;
  align-items: center;
}

.bar_art {
  width: 9vw;
  height: 9vw;
  margin-top: 1.5vw;
  border-style: solid;
  border-width: 0.15vw;
  border-color: #1a171d;

  object-fit: cover;
}

.is_artist {
  margin-right: 0px;
  margin-left: 0px;
  font-weight: 400;
  white-space: nowrap;
  transform: rotate(-90deg);
}
.bar_title {
  display: flex;
}
.bar_song {
  position: absolute;
  left: 0%;
  top: auto;
  right: auto;
  bottom: 0%;
  z-index: 6;
  display: flex;
  width: 10vw;
  padding-bottom: 3vw;
  flex-direction: column-reverse;
  align-items: center;
}

.is--song {
  margin-right: 0.3vw;
  margin-left: 0px;
  transform: rotate(-180deg);
}



.main_container {
  overflow: hidden;
  width: 100%;
  padding-left: 10vw;
}
.box {
  display: flex;
  width: 20vw;
  height: 32.5vw;
  min-width: 20vw;
  justify-content: center;
  align-items: center;
  background-color: #e2f0ff;
}

.controls {
  display: flex;
  width: 100%;
  padding: 0vw 2vw;
  flex-direction: column;
  justify-content: center;
  background-color: #e2feff;
}

.control {
  display: flex;
  justify-content: flex-start;
  align-items: stretch;
}

.button_container {
  text-align: center;
}

.button_text {
  margin-top: 0.5vw;
  margin-bottom: 1.6vw;
}

.button_text.is--last {
  margin-bottom: 0vw;
}

.enjoy_box {
  position: relative;
  display: flex;
  width: 24vw;
  padding: 3.5vw 3vw;
  justify-content: center;
  align-items: center;
  background-color: #1a171d;
  color: #e2f0ff;
}

.main {
  position: relative;
  display: flex;
  align-items: stretch;
  border-bottom: 0.15vw dotted #1a171d;
}

.right_section {
  position: relative;
  display: flex;
  overflow: hidden;
  width: 60vw;
  justify-content: center;
  align-items: center;
  background-image: url("https://wallpaperaccess.com/full/2049166.png");
  background-position: 50% 50%;
  background-size: cover;
  background-repeat: no-repeat;
}

.record {
  width: 70%;
  -webkit-animation:spin 4s linear infinite;
   -moz-animation:spin 4s linear infinite;
   animation:spin 4s linear infinite;
}
/* https://stackoverflow.com/questions/16771225/css3-rotate-animation */
@-moz-keyframes spin { 100% { -moz-transform: rotate(360deg); } }
@-webkit-keyframes spin { 100% { -webkit-transform: rotate(360deg); } }
@keyframes spin { 100% { -webkit-transform: rotate(360deg); transform:rotate(360deg); } }





.slide_arm {
  position: absolute;
  left: auto;
  top: 0%;
  right: 0%;
  bottom: auto;
  width: 15.5vw;
  max-width: none;
  margin-top: 3vw;
  margin-right: 3vw;
  transform: rotate(-26deg);
  transform-origin: 100% 0%;
}

.arm_holder {
  position: absolute;
  left: auto;
  top: 0%;
  right: 0%;
  bottom: auto;
  width: 4vw;
  margin-top: 27vw;
  margin-right: 2vw;
}
.power {
  position: absolute;
  left: 0%;
  top: 0%;
  right: auto;
  bottom: auto;
  margin-top: 3vw;
  margin-left: 3vw;
}

.nextButton {
  position: absolute;
  left: 0%;
  top: 0%;
  right: auto;
  bottom: auto;
  margin-top: 3vw;
  margin-left: 23vw;
}

.previousButton {
  position: absolute;
  left: 0%;
  top: 0%;
  right: auto;
  bottom: auto;
  margin-top: 13vw;
  margin-left: 23vw;
}

.shuffleButton {
  position: absolute;
  left: 0%;
  top: 0%;
  right: auto;
  bottom: auto;
  margin-top: 23vw;
  margin-left: 23vw;
}





.no-click {
  cursor: not-allowed;
}

.stickers{
  cursor: move;
}
.sticker {
  position: absolute;
  left: 0%;
  top: 0%;
  right: auto;
  bottom: auto;
  z-index: 1;
  width: 12vw;
  margin-top: 6vw;
  margin-left: 5vw;
  transform: scale3d(1none, 1none, 1none);
  transition: transform 150ms ease;
  transition: transform 150ms ease,
  cursor: move;
}

 .sticker:active {
  transform: scale(1.07);
}


/* The switch - the box around the slider */
.switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
}

.switch input {display:none;}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: .4s;
  transition: .4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}

input:checked + .slider {
  background-color: #2196F3;
}

input:focus + .slider {
  box-shadow: 0 0 1px #2196F3;
}

input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}
/* made sizing for a standard 13inch screen*/
@media only screen and (min-width: 992px) {
  .is--song {
    writing-mode: vertical-rl;
    text-orientation: mixed;
  }
  .is_artist {
    writing-mode: vertical-rl;
    text-orientation: mixed;
  }
  .is--text {
    writing-mode: vertical-rl;
    text-orientation: mixed;
  }
}
